<%- include('../partials/header') %>

<section>
    <h1>Flight No: <%= flight.flightNo %></h1>
    <h3>Airline: <%= flight.airline %></h3>
    <h3>Airport: <%= flight.airport %></h3>
    <h3>Departs: <%= flight.departs %></h3>
</section>

<%- include('../partials/footer') %>